<template>
  <v-app>
    <div id="app">
      <v-row class="ma-1" justify="strat">
        <v-col cols="3">
          <v-date-picker v-model="picker" locale="PT-br"></v-date-picker>
        </v-col>
        <v-col class="pb-0" cols="9">
          <v-simple-table height="300px">
            <template v-slot:default>
              <thead class="colorBg">
                <tr>
                  <th
                    class="text-left whiteColor"
                    v-for="header in headers"
                    :key="header"
                  >
                    {{ header.text }}
                  </th>
                </tr>
              </thead>

              <transition-group name="list" tag="tbody">
                <drag
                  tag="tr"
                  v-for="dessert in desserts"
                  :key="dessert.id"
                  :data="dessert"
                  @cut="remove(dessert)"
                >
                  <td>{{ dessert.list }}</td>
                  <td>{{ dessert.sense }}</td>
                  <td>{{ dessert.schedule }}</td>
                  <td>{{ dessert.shipping }}</td>
                  <td>{{ dessert.modelCar }}</td>
                  <td>{{ dessert.modelCharge }}</td>
                  <td>{{ dessert.time }}</td>
                  <td>{{ dessert.start | moment("DD/MM/YYYY") }}</td>
                </drag>
              </transition-group>
            </template>
          </v-simple-table>
        </v-col>
      </v-row>
      <template>
        <v-row class="fill-height">
          <v-col class="pt-0">
            <div class="group">
              <drop @drop="onCutDrop" mode="cut">
                <v-sheet height="64">
                  <v-toolbar flat>
                    <v-btn
                      outlined
                      class="mr-4"
                      color="grey darken-2"
                      @click="setToday"
                    >
                      Hoje
                    </v-btn>
                    <v-btn fab text small color="grey darken-2" @click="prev">
                      <v-icon small> mdi-chevron-left </v-icon>
                    </v-btn>
                    <v-btn fab text small color="grey darken-2" @click="next">
                      <v-icon small> mdi-chevron-right </v-icon>
                    </v-btn>
                    <v-toolbar-title v-if="$refs.calendar">
                      {{ $refs.calendar.title }}
                    </v-toolbar-title>
                    <v-spacer></v-spacer>
                  </v-toolbar>
                </v-sheet>
                <v-sheet>
                  <v-calendar
                    locale="PT-br"
                    ref="calendar"
                    v-model="focus"
                    color="primary"
                    type="category"
                    category-show-all
                    @click:event="showEvent"
                    :categories="categories"
                    :events="events"
                    :event-color="getEventColor"
                  ></v-calendar>
                  <v-menu
                    v-model="selectedOpen"
                    :close-on-content-click="false"
                    :activator="selectedElement"
                    offset-x
                  >
                    <v-card color="grey lighten-4" min-width="350px" flat>
                      <v-btn icon>
                        <v-icon>mdi-pencil</v-icon>
                      </v-btn>
                      <v-spacer></v-spacer>
                      <v-btn icon>
                        <v-icon>mdi-heart</v-icon>
                      </v-btn>
                      <v-btn icon>
                        <v-icon>mdi-dots-vertical</v-icon>
                      </v-btn>
                      <v-card-text>
                        <span v-html="selectedEvent"></span>
                      </v-card-text>
                      <v-card-actions>
                        <v-btn
                          text
                          color="secondary"
                          @click="selectedOpen = false"
                        >
                          Cancel
                        </v-btn>
                      </v-card-actions>
                    </v-card>
                  </v-menu>
                </v-sheet>
              </drop>
            </div>
          </v-col>
        </v-row>
      </template>
    </div>
  </v-app>
</template>


<script>
import { Drag, Drop } from "vue-easy-dnd";
import moment from "moment";
export default {
  name: "App",
  components: {
    Drag,
    Drop,
  },
  data: function () {
    return {
      picker: new Date().toISOString().substr(0, 10),
      copied: [],
      cut: [],
      selectedOpen: false,
      selectedElement: null,
      headers: [
        {
          text: "Romaneio",
          align: "start",
          sortable: false,
          value: "list",
        },
        { text: "sentido", value: "sense", sortable: false },
        { text: "Programação", value: "schedule", sortable: false },
        { text: "transportadora", value: "shipping ", sortable: false },
        { text: "Tipo Veículo", value: "modelCar", sortable: false },
        { text: "Tipo de Carga", value: "modelCharge", sortable: false },
        { text: "Tempo", value: "time" },
        { text: "Programar nova data", value: "date", sortable: false },
      ],
      desserts: [
        {
          doca: "F1",
          list: "2340",
          sense: "Outbound",
          schedule: "FTL",
          shipping: "Trans BR1",
          modelCar: "",
          modelCharge: "",
          time: "02:00:00",
          start: new Date("2021-03-08T06:00:00"),
          end: new Date("2021-03-08T08:00:00"),
          id: 1,
        },
        {
          doca: "F1",
          list: "2341",
          sense: "Outbound",
          schedule: "LTD",
          shipping: "Trans Roda Bem",
          modelCar: "",
          modelCharge: "",
          time: "00:30:00",
          start: new Date("2021-03-08T04:30:00"),
          end: new Date("2021-03-08T05:00:00"),
          id: 1,
        },
        {
          doca: "F2",
          list: "2342",
          sense: "Outbound",
          schedule: "FTL",
          shipping: "Trans Roda Bem",
          modelCar: "",
          modelCharge: "",
          time: "00:30:00",
          start: new Date("2021-03-08T02:30:00"),
          end: new Date("2021-03-08T03:30:00"),
          id: 1,
        },
        {
          doca: "F2",
          list: "2343",
          sense: "Outbound",
          schedule: "FTL",
          shipping: "Trans BR1",
          modelCar: "",
          modelCharge: "",
          time: "00:30:00",
          start: new Date("2021-03-08T01:30:00"),
          end: new Date("2021-03-08T02:30:00"),
          id: 1,
        },
        {
          doca: "F1",
          list: "2344",
          sense: "Outbound",
          schedule: "LTD",
          shipping: "Trans Roda Bem",
          modelCar: "",
          modelCharge: "",
          time: "00:50:00",
          start: new Date("2021-03-08T01:30:00"),
          end: new Date("2021-03-08T02:30:00"),
          id: 1,
        },
        {
          doca: "F1",
          list: "2345",
          sense: "Outbound",
          schedule: "FTL",
          shipping: "Trans Roda Bem",
          modelCar: "",
          modelCharge: "",
          time: "00:01:00",
          start: new Date("2021-03-08T13:30:00"),
          end: new Date("2021-03-08T14:30:00"),
          id: 1,
        },
        {
          doca: "F2",
          list: "2346",
          sense: "Outbound",
          schedule: "LTD",
          shipping: "Trans Roda Bem",
          modelCar: "",
          modelCharge: "",
          time: "00:30:00",
          start: new Date("2021-03-08T15:30:00"),
          end: new Date("2021-03-08T14:30:00"),
          id: 1,
        },
      ],
      focus: "",
      events: [],
      categories: [],
      menu1: false,
    };
  },
  mounted() {
    this.$refs.calendar.checkChange();
  },
  computed: {
    computedDateFormatted() {
      return this.formatDate(this.date);
    },
  },
  watch: {
    date() {
      this.dateFormatted = this.formatDate(this.date);
    },
  },
  methods: {
    remove(n) {
      let index = this.desserts.indexOf(n);
      this.desserts.splice(index, 1);
    },
    dale() {
      alert("vai que vai");
    },
    parseDate(date) {
      if (!date) return null;

      const [month, day, year] = date.split("/");
      return `${year}-${month.padStart(2, "0")}-${day.padStart(2, "0")}`;
    },


    getEventColor() {
      const allTime = this.events
        .map((e) => ({
          category: e.category,
          time: e.time,
        }))
        .reduce((acc, item) => {
          const existentItem = acc.find((i) => i.category === item.category);

          if (existentItem) {
            existentItem.time =
              existentItem.time + moment.duration(item.time).asMinutes();
            return acc;
          }

          return [
            ...acc,
            {
              category: item.category,
              time: moment.duration("00:00:00").add(item.time).asMinutes(),
            },
          ];
        }, []);

      if (allTime.time > 1440 && allTime.category ===  this.events.category ) {
        return "purple";
      } else if (allTime.time === 1.44&& allTime.category ===  this.events.category) {
        return "red";
      } else if (allTime.time < 1.224 && allTime.time > 864 && allTime.category ===  this.events.category) {
        return "yellow";
      } else {
        return "green";
      }
    },
    showEvent({ nativeEvent, event }) {
      console.log("oi" + event);
      const open = () => {
        this.selectedEvent = event;
        this.selectedElement = nativeEvent.target;
        setTimeout(() => {
          this.selectedOpen = true;
        }, 10);
      };

      if (this.selectedOpen) {
        this.selectedOpen = false;
        setTimeout(open, 10);
      } else {
        open();
      }

      nativeEvent.stopPropagation();
    },

    setToday() {
      this.focus = "";
    },
    prev() {
      this.$refs.calendar.prev();
    },
    next() {
      this.$refs.calendar.next();
    },
    onCutDrop(e) {
      const hasInTheCategory = this.categories.some((s) => s === e.data.doca);
      if (!hasInTheCategory) {
        this.categories.push(e.data.doca);
      }
      this.fetchEvents(e.data);
    },
    fetchEvents(obj) {
      const events = [];
      events.push({
        name: obj.list,
        start: obj.start,
        end: obj.end,
        time: obj.time,
        color: 'green',
        timed: true,
        category: obj.doca,
      });

      this.events.push(events.pop());
    },
  },
};
</script>

<style>
html,
body {
  height: 100%;
  font-family: "Roboto";
}
label {
  color: #fff;
}
.width {
  width: 100% !important;
}
.flex {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
}

.cut {
  margin: 20px 10px;
  border: 1px solid black;
  height: 100px;
  display: inline-block;
  position: relative;
  flex: 1;
}

.copy::before {
  content: "COPY";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: rgba(0, 0, 0, 0.4);
  font-size: 25px;
  font-weight: bold;
}

.cut::before {
  content: "CUT";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: rgba(0, 0, 0, 0.4);
  font-size: 25px;
  font-weight: bold;
}

.drop-allowed {
  background-color: rgba(0, 255, 0, 0.2);
}

.drop-forbidden {
  background-color: rgba(255, 0, 0, 0.2);
}

.drop-in {
  box-shadow: 0 0 5px rgba(0, 0, 255, 0.4);
}

.list-enter,
.list-leave-to {
  opacity: 0;
}

.list-leave-active {
  position: absolute;
}
.colorBg {
  background-color: #1976d2;
}
.whiteColor {
  color: #fff !important;
}
</style>
