<template>
  <v-app>
    <Home />
  </v-app>
</template>

<script>
import Home from './pages/home'
export default {
  name: 'App',
  components:{
    Home
  },
  data: () => ({
    //
  }),
};
</script>
